<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Entry</h1>
    <form action="/writes/<%=write._id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=write.name%>" placeholder="id">
    Description: <input type="text" name="description" value="<%=write.description%>" placeholder="id">
    Image: <input type="text" name="img" value="<%=write.img%>" placeholder="id">
    Price: <input type="number" name="" value="<%=write.price%>" placeholder="id">
    Quantity: <input type="number" name="" value="<%=write.quantity%>" placeholder="id">
    <input type="submit" value="Save Changes">
</form>
</body>
</html>