<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css" >
    <title>Document</title>
</head>

<body>
    <header>
        
    <nav>

        <ul class="nav-links">
            <li class="nav"><a href="/writes">Home</a></li>
            <li class="nav"><a href="/writes/new">Sell</a></li>
            <li class="nav"><a href="/reviews">Reviews</a></li>
        </ul>
    </nav>
</header>
    <h1>FOOTY LAB</h1>
<div class="container-fluid">
    <div class="card-deck">
        <% writes.forEach(write => { %>
        <div class="card">

            <a href="/writes/<%=write._id; %>"> <img class="card-img-top" src="<%=write.img %>"></a>
            <div class="card-body">
                    <div class="h2 text-center"><%=write.name; %></div>
                    <div class="lead text-center text-muted"><em>$<%=write.price; %></em></div>
                    <div class="lead text-center"><%=write.description; %></div>
            </div>
        </div>
          <% }) %>
    </div>
</div>
</body>
</html>