<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li class="nav"><a href="/writes">Home</a></li>
            <li class="nav" style="float: right"><a href="/writes/new">Sell</a></li>
            <li class="nav" style="float: right"><a href="/reviews">Reviews</a></li>
        </ul>
    </nav>
    <h1>FOOTY LAB</h1>
    <div class="row">
        <div class="column">
    <div class="card">
    
        <% writes.forEach(write => { %>
           <a href="/writes/<%=write._id; %>"> <img src="<%=write.img %>" style="width: 100%"></a>
            <h1><%=write.name; %></h1>
                <p class="price">$<%=write.price; %></p>
                <p><%=write.description; %></p>
            
            <!-- <form action="/writes/<%= write.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form>
            <a href="/writes/<%=write._id %>/edit">Edit</a> -->
            
            
       <% }) %>
    </div>
    </div>
</div>
</body>
</html>