<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/writes"></a>
    </nav>
    <h1><%=write.name %></h1>
    <br />
    <img src="<%=write.img %>">
    <h4>Price: $<%= write.price%></h4> <br/>
    Quantity: <%= write.qty%> <br/>
    Description:
    <p><%= write.description%></p> 
</body>
</html>